Repository Shopify/rbi-central, pull requests merged in 2022-06, with the labels that each got.

#29 Update README
  README.md
Labels: documentation

#32 Add annotation for `ActiveRecord::TestCase.test`
  rbi/annotations/activesupport.rbi
Labels: RBI

#49 Add RBI for webmock
  index.json
  rbi/annotations/webmock.rbi
Labels: RBI

#43 Add RBI for colorize
  index.json
  rbi/annotations/colorize.rbi
Labels: RBI

#42 Add more annotations to the activesupport RBI
  rbi/annotations/activesupport.rbi
Labels: RBI

#40 Add RBI for actionpack
  index.json
  rbi/annotations/actionpack.rbi
Labels: RBI

#45 Add RBI for grape
  index.json
  rbi/annotations/grape.rbi
Labels: RBI

#39 Add a Sorbet config so we can use the VSCode plugin
  scripts/check_types
  sorbet/config
Labels: chore

#53 Always ping @Shopify/sorbet on PRs
  .github/CODEOWNERS
Labels: CI

#56 Use bundler/setup on check_index
  .githooks/pre-push
  .github/workflows/ci.yml
  scripts/check_index
Labels: CI

#59 Add `check_all` script
  .githooks/pre-push
  .github/workflows/ci.yml
  scripts/check_all
Labels: CI

#64 Do not check type_member and type_template at runtime
  scripts/check_runtime
Labels: CI

#65 Add RBI for `lhm`
  index.json
  rbi/annotations/lhm.rbi
Labels: RBI

#61 Add RBI for `configs`
  index.json
  rbi/annotations/configs.rbi
Labels: CI

#66 Add RBI for `graphql`
  index.json
  rbi/annotations/graphql.rbi
Labels: RBI

#68 Add RBI for `actionview`
  index.json
  rbi/annotations/actionview.rbi
Labels: RBI

#67 Add RBI for `actionmailer`
  index.json
  rbi/annotations/actionmailer.rbi
Labels: RBI

#70 Add RBI for active_flag
  index.json
  rbi/annotations/active_flag.rbi
Labels: RBI

#75 Use ignore instead of a specific path
  sorbet/config
Labels: RBI

#77 Add RBI for `state-machines`
  index.json
  rbi/annotations/state_machines.rbi
Labels: RBI

#79 Add RBI for `sidekiq`
  index.json
  rbi/annotations/sidekiq.rbi
Labels: RBI
